/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* border-box */
html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}


/* public */
html,
body,
.container {
    height: 100%;
    font-size: 14px;
    color: #585d68;
}
.container {
    display: flex;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.fa {
    font-size: 16px;
}
h1 {
    font-size: 24px;
    line-height: 50px;
    color: #354052;
}
h2 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
    line-height: 30px;
}
.label {
    color: #b5b5b5;
}
.time {
    color: #7f8fa4;
}
.name {
    color: #2399f1;
}
::-webkit-scrollbar {
    display: none;
}


/* aside */
aside {
    position: relative;
    width: 100px;
    background: #1d2531;
    padding: 20px;
}
aside > ul > li {
    text-align: center;
    margin-bottom: 20px;
}
aside > ul .active {
    position: relative;
}
aside > ul .active::after {
    position: absolute;
    content: "";
    background: #2399f1;
    width: 2px;
    height: 3px;
    top: 30px;
    left: -20px;
}
aside ul li a {
    display: inline-block;
    position: relative;
    color: #475364;
}
aside > ul .btns {
    position: absolute;
    width: 60px;
    bottom: 0;
}
aside > ul .btns > ul > li {
    float: left;
    width: 30px;
    text-align: center;
}


/* nav */
.nav {
    position: relative;
    width: 250px;
    background: #222c3c;
    padding: 20px 30px;
}
.nav dl {
    padding: 10px 0;
    border-top: 1px solid #475364;
}
.nav dl:first-child {
    border: none;
}
.nav dl dd {
    line-height: 30px;
}
.nav dl .active {
    position: relative;
}
.nav dl .active::after {
    position: absolute;
    content: "";
    background: #2399f1;
    width: 2px;
    height: 3px;
    top: 15px;
    left: -30px;
}
.nav dl dd a {
    display: inline-block;
    text-decoration: none;
    color: #b7c0cd;
}
.nav dl dd a i {
    margin-right: 10px;
}
.nav dl dt {
    line-height: 30px;
    color: #475364;
}
.nav dl dt a {
    float: right;
    color: #475364;
}
.nav dl dd {
    position: relative;
}
.nav dl dd span {
    position: absolute;
    height: 24px;
    line-height: 24px;
    color: #fff;
    background: #2399f1;
    padding: 0 8px;
    border-radius: 14px;
    top: 3px;
    right: 0;
}
.nav dl dd .exclamation {
    background: #db391c;
    padding: 0 10px;
    border-radius: 50%;
}
.nav ul {
    position: absolute;
    color: #fff;
    bottom: 20px;
    padding: 0;
    border: none;
}
.nav ul .progress {
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #2d3848;
    margin-top: 5px;
}
.nav ul .progress::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 4px;
    border-radius: inherit;
    background: #9784e4;
    top: 0;
    left: 0;
}


/* section */
section {
    width: calc(100% - 350px);
}
/* header */
section > header {
    height: 80px;
    padding: 15px 30px;
    border-bottom: 1px solid #e6e9ec;
    position: relative;
}
section > header .user {
    position: absolute;
    width: 200px;
    height: 50px;
    top: 15px;
    right: 30px;
}
section > header .user img {
    float: left;
    margin-right: 15px;
}
section > header .user .circle {
    position: absolute;
    width: 22px;
    height: 22px;
    background: #38a76a;
    border: 3px solid #fff;
    border-radius: 50%;
    top: 27px;
    left: 27px;
}
section > header .user .circle::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    top: 3px;
    left: 3px;
}
section > header .user i {
    position: absolute;
    color: #bfc7d8;
    top: 15px;
    right: 0;
    cursor: pointer;
}
section .wrapper {
    display: flex;
    height: calc(100% - 80px);
    overflow: hidden;
}
section .wrapper nav {
    height: 70px;
    padding: 17px 30px;
    border-bottom: 1px solid #e6e9ec;
}
/* col-lists */
section .wrapper .col-lists {
    width: 400px;
    border-right: 1px solid #e6e9ec;
}
section .wrapper .col-lists nav input {
    width: 340px;
    height: 36px;
    outline-color: #b2bac8;
    border: 1px solid #e5e8ee;
    border-radius: 5px;
    padding: 10px 15px;
}
section .wrapper .col-lists nav input::-webkit-input-placeholder {
    color: #b2bac8;
}
section .wrapper .col-lists nav i {
    position: relative;
    top: -27px;
    right: -310px;
    color: #9fa9ba;
}
section .wrapper .col-lists .article-wrap {
    height: calc(100% - 70px);
    overflow-y: auto;
}
section .wrapper .col-lists article {
    position: relative;
    height: 130px;
    padding: 15px 20px 20px 30px;
    border-bottom: 1px solid #e6e9ec;
}
section .wrapper .col-lists .active::after {
    position: absolute;
    content: "";
    width: 3px;
    background: #2399f1;
    top: 0;
    bottom: 0;
    left: 0;
}
section .wrapper .col-lists .active h4 {
    color: #2399f1;
    padding-left: 83px;
}
section .wrapper .col-lists .active h4::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background: #2399f1;
    border-radius: 50%;
    top: 26px;
    left: 100px;
}
section .wrapper .col-lists article header img {
    float: left;
    margin-right: 20px;
}
section .wrapper .col-lists article header .time {
    position: absolute;
    top: 23px;
    right: 20px;
}
section .wrapper .col-lists article .contents {
    display: flex;
    margin-top: 5px;
}
section .wrapper .col-lists article .contents p:first-child {
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
section .wrapper .col-lists article .contents .msg {
    height: 25px;
    line-height: 25px;
    padding: 0 8px;
    color: #fff;
    background: #2399f1;
    margin: 7px 0 0 18px;
    border-radius: 50px;
}
/* col-details */
section .wrapper .col-details {
    width: calc(100% - 400px);
}
section .wrapper .col-details nav h2 {
    position: relative;
    display: inline-block;
    line-height: 36px;
}
section .wrapper .col-details nav h2::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background: #1bb934;
    border-radius: 50%;
    top: 15px;
    right: -20px;
}
section .wrapper .col-details nav ul {
    float: right;
    font-size: 0;
}
section .wrapper .col-details nav li {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
}
section .wrapper .col-details nav li a {
    display: inline-block;
    width: 36px;
    line-height: 34px;
    text-align: center;
    background: linear-gradient(#fff, #f1f3f7);
    border: 1px solid #ced0da;
    border-right: none;
}
section .wrapper .col-details nav li:first-child a,
section .wrapper .col-details nav li:nth-child(5) a {
    border-radius: 5px 0 0 5px;
}
section .wrapper .col-details nav li:nth-child(3) a,
section .wrapper .col-details nav li:last-child a {
    border-right: 1px solid #ced0da;
    border-radius: 0 5px 5px 0;
}
section .wrapper .col-details nav .tools a {
    color: #9fa9ba;
}
section .wrapper .col-details nav .page {
    position: relative;
    color: #56688a;
    margin: 0 15px 0 45px;
}
section .wrapper .col-details nav .page::before {
    position: absolute;
    content: "";
    width: 1px;
    background: #f0f1f4;
    top: 0;
    left: -22px;
    bottom: 0;
}
section .wrapper .col-details nav .arrows a {
    color: #ced0da;
}
section .wrapper .col-details .messages-wrap {
    height: calc(100% - 70px);
    overflow-y: auto;
}
section .wrapper .col-details .messages-box {
    position: relative;
    padding: 25px 30px;
    border-top: 1px solid #e6e9ec;
}
section .wrapper .col-details .messages-box:first-child {
    border: none;
}
section .wrapper .col-details .messages-box:nth-child(2)::after {
    position: absolute;
    content: "Tuesday";
    color: #7f8fa4;
    background: #fff;
    padding: 0 15px;
    top: 0;
    left: 45%;
    transform: translate(0 ,-50%);
}
section .wrapper .col-details article:first-child {
    margin-bottom: 25px;
}
section .wrapper .col-details article header img {
    float: left;
    margin-right: 20px;
}
section .wrapper .col-details article header h4 {
    display: inline-block;
    margin-right: 10px;
}
section .wrapper .col-details article .message {
    line-height: 20px;
    margin-left: 68px;
}
section .wrapper .col-details article .message ul {
    font-size: 0;
}
section .wrapper .col-details article .message li {
    position: relative;
    display: inline-block;
    font-size: 14px;
    margin: 16px 14px 0 0;
}
section .wrapper .col-details article .message li a {
    display: inline-block;
}
section .wrapper .col-details article .message li img {
    border-radius: 5px;
}
section .wrapper .col-details article .message .mask {
    display: none;
    position: absolute;
    width: 156px;
    height: 100px;
    background: rgba(50, 56, 68, .6) no-repeat center;
    background-image: url(../src/images/Open\ icon.png);
    border-radius: 4px;
    cursor: pointer;
    transition: display 1s;
}
section .wrapper .col-details article .message li:hover .mask {
    display: block;
    top: 0;
    left: 0;
}
section .wrapper .col-details .new-messages {
    border-color: #a7d6f9;
}
section .wrapper .col-details .new-messages::after {
    position: absolute;
    content: "New Messages";
    color: #2399f1;
    background: #fff;
    padding: 0 15px;
    top: 0;
    left: 45%;
    transform: translate(0 ,-50%);
}
section .wrapper .col-details .new-messages textarea {
    width: 100%;
    height: 54px;
    line-height: 52px;
    resize: none;
    outline-color: #b2bac8;
    border: 1px solid #dfe3e9;
    border-radius: 4px;
    padding: 0 20px 0 74px;
}
section .wrapper .col-details .new-messages textarea::-webkit-input-placeholder {
    color: #b2bac8;
}
section .wrapper .col-details .new-messages i {
    position: absolute;
    width: 54px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 20px;
    color: #9fa9ba;
    background: linear-gradient(#fff, #f1f3f7);
    border: 1px solid #ced0da;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    z-index: 1;
}